img {
    max-width: 100%;
    border-radius: 20px;
}


.users {
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    padding: 10px;
}

.user {
    margin: 5px auto;
    padding: 5px;
    text-align: center;
}